@import "base";
@import "search";
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.parent-element {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}
.body-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
