@bgColor1: #4cda63;
@bgColor2: #ffffff;
@bgColor3: #eaf0f5;

.body {
  min-width: 300px;
  margin: auto;
  height: 100%;
  line-height: 1;
  padding-top: 20px;
  background: -webkit-linear-gradient(@bgColor1 0%,
      @bgColor1 30%,
      @bgColor2 30%,
      @bgColor3 31%,
      @bgColor2 100%);
}

* {
  box-sizing: border-box;
}

.cil {
  @size: 80px;
  top: @size / 4;
  left: 50%;
  margin-left: -@size / 2;
  position: absolute;
  width: @size;
  height: @size;
  line-height: @size;
  border-radius: @size;
  text-align: center;
  color: #333;
  background-color: #fff;
  font-size: 16px;
}

h2 {
  font-size: 14px;
  text-align: center;
  color: #999999;
}

.canvas {
  position: relative;
  text-align: center;
  margin: 10px;
}

.box {
  background-color: #fff;
  margin: 20px 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul,
li {
  padding: 0;
}

.ul {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    list-style: none;
    font-size: 12px;
    // box-shadow: 1px 0px 0 inset rgba(255, 255, 255, 0.2), 0px 1px 0 inset rgba(0, 0, 0, 0.2);
    // border-bottom: 1px solid #00d4dc;
    // border-top: 1px solid #00c4cc;
    // border-left: 1px solid #00d4dc;
    // border-right: 1px solid #00c4cc;

    span {
      // margin-top: 5px;
      margin-left: 10px;
    }

    &>a {
      display: flex;
      // flex-direction: column;
      margin: 5px;
      padding: 10px;
      align-items: center;
      text-align: left;
      // justify-content: center;
      background-color: #fff;
      border-radius: 5px;
      color: #fff;
      background-color: #4cda63;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

      color: #fff !important;
    }

    // &:nth-child(1) {
    //   & > a {
    //     background-color: #ba97fe;
    //     color: #6936cc;
    //   }
    // }

    // &:nth-child(2) {
    //   & > a {
    //     background-color: #fe96e2;
    //     color: #9e4586;
    //   }
    // }

    // &:nth-child(3) {
    //   & > a {
    //     background-color: #ffffbb;
    //     color: #f2c326;
    //   }
    // }

    // &:nth-child(4) {
    //   & > a {
    //     background-color: #baffc8;
    //     color: #62b975;
    //   }
    // }

    &>span {
      display: block;
    }

    i {
      // margin-right: 10px;
      font-size: 18px;
    }
  }
}